* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: black;
    font-weight: bold ;
    text-decoration: none;
    font-size: 1.6rem;
}

header {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(31,186,204,1) 35%, rgba(0,245,255,1) 100%);
    height: 170px;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    
}

header .img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    animation-duration: 1.2s;
    --animation: animate__bounceInDown;
}

header nav .link {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    border-radius: 5px;
    transition: box-shadow 0.5s ease-in;
    --animation: animate__flipInX;
    animation-duration: 2s;

}

ul {
  display: flex;
  height: 100%;
}

.link {
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto;
    width: 50%;
    max-width: 700px;
}

header nav li:hover {
    background-image: linear-gradient(to right, rgba(90, 88, 88, 0.226), rgb(50, 201, 201, 0.925));
}


@media screen and (max-width: 768px) {
    header {
        height: 150px;
    }

    header .img {
        height: 80px;
        width: 160px;
    }

    .link {
        width: 70px;
        height: 150px;
    }

    .botones {
        height: 100px;
        width: 100px;
        position: fixed;

    }
    a {
        font-size: 1rem;

}
    ul {
        display: flex;
        text-align: right;
        height: 100px;
        width: 100px;

    }

  }





/* END HEADER */





/* MAIN */

.main_footer {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 15px;
    padding: 10px;
}

.main_footer_index {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 15px;
    padding: 10px;
    display: flex;
    text-align: center;
}

h2 {
    animation-name: aparecer;
    animation-duration: 2s;
}

h3 {
    animation-name: aparecer;
    animation-duration: 2s;
}

main .temporada_22  {
    padding: 30px;
}

.temp_22 {
    width: 400px;
    height: 400px;

}

.que_ofrecemos p{
    margin: 10px;
    text-align: left;
}

.que_esperas {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) { 
    .main_footer_index {
        display: grid;
        text-align: center;
    }
    .temp_22 {
        width: 300px;
        height: 300px;
        display: grid;
    }
    h2 {
        width: 75%;
        height: 5%;
        display: flex;
        justify-content: left;

    }
    h3 {
        width: 75%;
        height: 5%;
        display: flex;
        text-align: left;

    }
    .descripcion_sobretes {
        width: 50%;
        padding: 10px; 
        display: grid;
    }
    .mapa {
        display: flex;
        justify-content: center;
        width: 200px;
        padding: 20px 50%;
    }

  }

  @keyframes aparecer {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }

/* END MAIN */

/* FOOTER */

footer {
    height: 7rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(31,186,204,1) 35%, rgba(0,245,255,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in;
  }

  .redes  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 500px;
    font-size: 3rem;
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 2s;
  }

  .insta_wpp_flecha {
      font-size: 3rem;
  }

  .insta_wpp_flecha:hover {
    color: rgb(78, 89, 90);
    transform: scale(1.1) translateY(-2px);
  }

  

/* MEDIA QUERIES */


@media screen and (max-width: 768px) { 
    .insta_wpp_flecha {
        font-size: 2rem;
      }
      .redes {
          font-size: 2rem;
      }
  }




/* END FOOTER */

/* NOSOTROS - NIKIBOMBILLA */

.historia  {
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .historia_niki { 
    width: 100%;
    padding: 10px; 
    display: grid; }
  }



/* END NOSOTROS */

/* TIENDA */

.productos_titulo {
    text-align: center;
}

.tienda .img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 0 25px;
    transition: all .4s ease-in;
    --animation: animate__zoomIn;
    animation-duration: 1.5s;
}

.tienda .img:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 410px;
    height: 410px;
    padding: 10px;
    margin: 0 25px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) { 
    .tienda .img {
        margin: 25px 90px;
        width: 50%;
        height: 50%;
        display: inline-block;
        text-align: center;
        transition: all .5s ease-in;
    }

    .tienda .img:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        width: 55%;
        height: 55%;
        padding: 10px;
        margin: 0 25px;
    }
    .tienda .img:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        margin: 25px;
    }

  }



/* END TIENDA */

/* CONTACTO */

.contacto {
    padding: 10px;
    display: grid;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 2s;
}

.contacto_items {
    padding: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    margin: 5px;
}

textarea {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    margin: 5px; 
}

button[type = "submit"] {
    background-color: rgb(172, 172, 172);
    transition: all .3s ease-in;
}

button[type = "submit"]:hover {
    background-color: rgb(50, 201, 201, 0.925);
    border: 1px solid black;
    cursor: pointer;
}

button[type = "reset"] {
    background-color: white;
    border: 1px solid black;
    transition: all .3s ease-in;

}

button[type = "reset"]:hover {
    background-color: rgb(50, 201, 201, 0.925);
    color: black;
    cursor: pointer;
}

/* END CONTACTO */

/* PREGUNTAS FRECUENTES */

 .tabla {
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;    
}
.tabla h3 {
    font-size: 1.5rem;
}


.recomendaciones h3 {
    text-align: center;
    font-size: 1.5rem;
    animation-duration: 1.5s;
    --animation: animate__fadeInLeftBig;
}

.tabla_preguntas {
    text-align: center;
    animation-duration: 1.5s;
    --animation: animate__fadeInLeftBig;
}


.li_recomendaciones {
    text-align: center;
    margin: 15px;
}


ol {
    text-align: center;
    margin: 0 35%
}

@media screen and (max-width: 768px) { 
    .tabla {
        margin: 15px;
        padding: 10px;
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }
    
    .tabla_preguntas {
        text-align: center;
    }
    
    .recomendaciones {
        text-align: left;
    }
    
    .li_recomendaciones {
        text-align: left;
        width: 100%;
        
    }
    
    ol {
        text-align: left;
        margin: 0 30px;
    }

  }


/* END PREGUNTAS FRECUENTES */