* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: black;
    font-weight: bold ;
    font-size: 1.6rem;
}

header {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(31,186,204,1) 35%, rgba(0,245,255,1) 100%);
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}


header .img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    animation-duration: 1.2s;
    --animation: animate__bounceInDown;
    border-radius: 5px;
}

header nav .link {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    --animation: animate__flipInX;
    animation-duration: 2s;
    display: flex;
    justify-content: end;
}


header nav li:hover {
    color: rgb(78, 89, 90);
    transform: scale(1.2) translateY(-2px);
}


@media screen and (max-width: 768px) {

    .botonmenu {
        display: grid;
        justify-content: center;
        width: 15%;
    }

    header .img {
        height: 80px;
    }

    a {
        font-size: 1rem;
}
  }





/* END HEADER */





/* MAIN */

.main_footer {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 15px;
    padding: 10px;
    border-radius: 5px;

}

.main_footer_index {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 15px;
    padding: 10px;
    display: flex;
    text-align: center;
    border-radius: 5px;

}

h2 {
    animation-name: aparecer;
    animation-duration: 2s;
    color: black;
    font-weight: bold;
    padding: 5px;
}

h3 {
    animation-name: aparecer;
    animation-duration: 2s;
    color: black;
    font-weight: bold;

}


p {
    animation-name: aparecer;
    animation-duration: 2s;

}


main .temporada_22  {
    padding: 40px;
}


.que_ofrecemos p{
    padding: 8px;
    text-align: left;
}

.que_ofrecemos{
    padding: 40px;
    text-align: left;
}

.que_esperas {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

.donde_estamos {
    padding: 40px;
    display: grid;
    justify-content: center;
}

.carousel {
    padding: 50px;
    width: 450px;
    height: 600px;
    border-radius: 5px;

}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) { 
    .main_footer_index {
        display: grid;
        text-align: center;
    }

    h2 {
        width: 75%;
        height: 5%;
        display: flex;
        justify-content: left;

    }
    h3 {
        width: 75%;
        height: 5%;
        display: flex;
        text-align: left;

    }
    .descripcion_sobretes {
        width: 50%;
        padding: 10px; 
        display: grid;
    }
    .mapa {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 50%;
    }

    .carousel {
        padding: 50px;
        width: 500px;
        height: 600px;
    }
  }

  @media screen and (max-width: 428px) {

    .main_footer_index {
        display: grid;
        text-align: center;
    }

    h2 {
        width: 75%;
        height: 5%;
        display: flex;
        justify-content: left;

    }
    h3 {
        width: 75%;
        height: 5%;
        display: flex;
        text-align: left;

    }
    .descripcion_sobretes {
        width: 25%;
        display: grid;
    }
    .mapa {
        padding: 50px;
        width: 400px;
        height: 500px;
        align-items: center;
    }

    .carousel {
    padding: 50px;
    width: 400px;
    height: 500px;
    align-items: center;
}
    main .temporada_22  {
    padding: 0;
}

    .donde_estamos {
        padding: 0;
    }

    .que_ofrecemos {
        padding: 0;
    }
}

  @keyframes aparecer {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }

/* END MAIN */

/* FOOTER */

footer {
    height: 7rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(31,186,204,1) 35%, rgba(0,245,255,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in;
    border-radius: 5px;
  }

  .redes  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 500px;
    font-size: 3rem;
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 2s;
  }

  .insta_wpp_flecha {
    font-size: 3rem;
    color: black;
  }

  .insta_wpp_flecha:hover {
    color: rgb(78, 89, 90);
    transform: scale(1.1) translateY(-2px);
  }

  

/* MEDIA QUERIES */


@media screen and (max-width: 768px) { 
    .insta_wpp_flecha {
        font-size: 3rem;
      }
      .redes {
          font-size: 3rem;
      }

  }




/* END FOOTER */

/* NOSOTROS - NIKIBOMBILLA */

.historia  {
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .historia_niki { 
    width: 100%;
    padding: 10px; 
    display: grid; }
  }



/* END NOSOTROS */

/* TIENDA */

.productos_titulo {
    text-align: center;
    
}

.imagenestienda {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: all .4s ease-in;
    --animation: animate__fadeInLeftBig;
    animation-duration: 1.5s;
}
.imagenestienda2 {
    padding: 10px;
    height: 450px;
}



/* MEDIA QUERIES */

@media screen and (max-width: 768px) { 
    .imagenestienda2 {
        padding: 10px;
        height: auto;
    }

  }



/* END TIENDA */

/* CONTACTO */

.contacto {
    padding: 15px;
    display: flex;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 2s;
}

.contacto_titulo {
    display: flex;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 2s;

}

.contacto_items {
    padding: 10px;
    border-radius: 5px;

}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;

}

textarea {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;

}

button {
    padding: 10px;
    margin: 5px; 
    border-radius: 5px;
    width: 25%;
    display: flex;
    text-align: center;
}

button[type = "submit"] {
    background-color: rgb(172, 172, 172);
    transition: all .3s ease-in;
    color: black;
}

button[type = "submit"]:hover {
    background-color: rgb(50, 201, 201, 0.925);
    border: 1px solid black;
    cursor: pointer;
}

button[type = "reset"] {
    background-color: white;
    border: 1px solid black;
    transition: all .3s ease-in;
    color: black;

}

button[type = "reset"]:hover {
    background-color: rgb(50, 201, 201, 0.925);
    color: black;
    cursor: pointer;
}


@media screen and (max-width: 768px) { 
    .contacto_titulo {
        display: flex;
        justify-content: left;
    }
  }

/* END CONTACTO */

/* PREGUNTAS FRECUENTES */

 .tabla {
    margin: 15px;
    padding: 10px;
    display: grid;
    text-align: center;
    animation-duration: 1.5s;
    --animation: animate__fadeInLeftBig;
}

.table {
    animation-duration: 1.5s;
    --animation: animate__fadeInLeftBig;
}

.recomendaciones h3 {
    text-align: center;
    font-size: 1.5rem;
    animation-duration: 1.5s;
    --animation: animate__fadeInLeftBig;
}

.tabla_preguntas {
    text-align: center;
    animation-duration: 1.5s;
    --animation: animate__fadeInLeftBig;
    border-radius: 5px;

}

.li_recomendaciones {
    text-align: center;
    margin: 15px;
}


ol {
    text-align: center;
    margin: 0 35%
}

@media screen and (max-width: 768px) { 
    
    h3 {
        padding: 5px;
    }

    .tabla_preguntas {
        padding: 5px;
    }
    
    .recomendaciones {
        text-align: center;
        justify-content: center;
    }


    .li_recomendaciones {
        text-align: left;
    }
    
    ol {
        margin: 0 30px;
    }

  }


/* END PREGUNTAS FRECUENTES */