a {
    color: map-get($estilos, colornegro);
    font-weight: bold ;
    font-size: 1.6rem;
}

header {
    background: $colorNikibombilla;
    @include margen (15px);
    padding: 10px;
    @include border (5px);
.img {
    animation-duration: 1.2s;
    --animation: animate__bounceInDown;
    @include border (5px);
}
}



header nav .link {
    padding: 5px;
    @include margen (5px);
    @include border (5px);
    --animation: animate__flipInX;
    animation-duration: 2s;
    display: map-get($estilos, contenidoflex);
    justify-content: end;
&:hover {
    color: rgb(78, 89, 90);
    transform: scale(1.1) translateY(-2px);
}
}
  
.main_footer {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    @include margen (15px);
    padding: 10px;
    @include border (5px);
}

.main_footer_index {
    @extend .main_footer;
    display: grid;
    text-align: map-get($estilos, text-align);
}




h1 {
    animation-name: map-get($estilos, nombre-animac);
    animation-duration: map-get($estilos, duracion-animac);
    color: map-get($estilos, colornegro);
    font-weight: map-get($estilos, fuente);
    padding: map-get($estilos, padding15);
    display: map-get($estilos, contenidoflex);
    justify-content: map-get($estilos, justify-content);
    text-align: map-get($estilos, text-align);
}

h2 {
    animation-name: map-get($estilos, nombre-animac);
    animation-duration: map-get($estilos, duracion-animac);
    display: map-get($estilos, contenidoflex);
    justify-content: map-get($estilos, justify-content);
    text-align: map-get($estilos, text-align);
}


p {
    animation-name: map-get($estilos, nombre-animac);
    animation-duration: map-get($estilos, duracion-animac);
}


main .temporada_22  {
    padding: 5px;
    display: grid;
    text-align: map-get($estilos, text-align);
    justify-content: map-get($estilos, justify-content);

}

.que_ofrecemos{
    padding: 20px;
    text-align: left;
    p{
        padding: 5px;
        text-align: left;
    }
    th {
        border-radius: 3px;
    }
}


.donde_estamos {
    padding: 20px;
    display: grid;
    text-align: map-get($estilos, text-align);
    width: 100%;
}

.carousel {
    padding: 10px;
    width: 450px;
    height: 600px;
    @include border (5px);
    display: grid;
    text-align: map-get($estilos, text-align);
}

footer {
    height: 7rem;
    background: $colorNikibombilla;
    display: map-get($estilos, contenidoflex);
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease-in;
    @include border (5px);
  .redes  {
    display: map-get($estilos, contenidoflex);
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 500px;
    font-size: 3rem;
    @include border (5px);
    animation-name: aparecer;
    animation-duration: 2s;
  .insta_wpp_flecha {
    font-size: 3rem;
    color: map-get($estilos, colornegro);
   &:hover {
    color: rgb(78, 89, 90);
    transform: scale(1.1) translateY(-2px);
  }
}
}
}  

$vista: desktop;

  body {
      @if $vista == tablet {
  @media screen and (max-width: 768px) { 
    .insta_wpp_flecha {
        font-size: 3rem;
      .redes {
          font-size: 3rem;
      }
    }
    .botonmenu {
        display: grid;
        justify-content: map-get($estilos, justify-content);
        width: 15%;
    }

    header .img {
        height: 80px;
    }

    a {
        font-size: 1rem;
    }
    .main_footer_index {
        display: grid;
        text-align: map-get($estilos, text-align);
    }

    h1 {
        width: 100%;
        height: 50px;
    }
    h2 {
        width: 100%;
        height: 10px;
    }

    .descripcion_sobretes {
        width: 50%;
        padding: 10px; 
        display: grid;
    }
    .mapa {
        display: map-get($estilos, contenidoflex);
        justify-content: center;
        width: 100%;
        padding: 30px 50%;
    }

    .carousel {
        padding: 20px;
        width: 450px;
        height: 600px;
    }
  }
    .insta_wpp_flecha {
        font-size: 3rem;
      .redes {
          font-size: 3rem;
      }
    }
}


@else if $vista == mobile {
  @media screen and (max-width: 428px) {

    .main_footer_index {
        display: grid;
        text-align: map-get($estilos, text-align);
    }

    h1 {
        width: 100%;
        height: 50px;
    }
    h2 {
        width: 100%;
        height: 20px;
        display: map-get($estilos, contenidoflex);
        text-align: map-get($estilos, text-align);

    }
    .mapa {
        padding: 60px;
        width: 350px;
        height: 550px;
    }

    .carousel {
    padding: 50px;
    width: 400px;
    height: 500px;
    align-items: center;
    }
    main .temporada_22  {
    padding: 0;
    }

    .donde_estamos {
        padding: 0;
    }

    .que_ofrecemos {
        padding: 0;
    }
    .tabla1 {
        width: 380px;
    }
  }
}

  @else if $vista == mobile2 {
  @media screen and (max-width: 480px) { 

    h1 {
        height: 50px;
        width: 400px;
    }

    h2 {
        width: 100%;
        height: 10px;
    }

    .descripcion_sobretes {
        width: 50%;
        padding: 10px; 
        display: grid;
    }
    .mapa {
        display: map-get($estilos, contenidoflex);
        justify-content: left;
        padding: 10px;
        width: 400px;
    }

    .temporada_22 {
        width: 90%;
    }

    .que_ofrecemos {
        width: 90%;
    }
    .carousel {
        padding: 20px;
    }
}
}
}

@keyframes aparecer {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
} 
