.tabla {
    @include margen (15px);
    padding: 10px;
    display: grid;
    text-align: map-get($estilos, text-align);
    justify-content: map-get($estilos, justify-content);
    width: 100%;
    animation-duration: 1.5s;
    --animation: animate__fadeInLeftBig;
.table1 {
    animation-duration: 1.5s;
    --animation: animate__fadeInLeftBig;
    th {
        border-radius: 3px;
}
}
}

.recomendaciones h2 {
    text-align: map-get($estilos, text-align);
    font-size: 1.5rem;
    animation-duration: 1.5s;
    --animation: animate__fadeInLeftBig;
}

.tabla_preguntas {
    text-align: map-get($estilos, text-align);
    animation-duration: 1.5s;
    --animation: animate__fadeInLeftBig;
    @include border (5px);
}

.recomendaciones {
    text-align: map-get($estilos, text-align);
    padding: 7px;
.li_recomendaciones {
    text-align: left;
    @include margen (15px);
    ol {
        text-align: map-get($estilos, text-align);
        margin: 0 35%;
}
}
}

/* MEDIA QUERIES */
body {
@if $vista == tablet {
@media screen and (max-width: 768px) { 

    .tabla_preguntas {
        padding: 5px;
    }
    .recomendaciones {
        text-align: map-get($estilos, text-align);
        padding: 10px;
    .li_recomendaciones {
        text-align: left; 
    ol {
        margin: 0 30px;
    }
    }
    }

    h2 .preguntasyrecomendaciones {
        padding: 5px;
    }
  }
}
@else if $vista == mobile {
  @media screen and (max-width: 428px) { 
    .tabla {
        width: 350px;
    .recomendaciones {
        text-align: map-get($estilos, text-align);
        padding: 7px;
    .li_recomendaciones {
        text-align: left;
    ol {
        margin: 0 30px;
    }
}
}
}
}
}
}