$colorNikibombilla: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(31,186,204,1) 35%, rgba(0,245,255,1) 100%);

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

$estilos:(
    colornegro: black,
    contenidoflex: flex,
    justify-content: center,
    text-align: center,
    duracion-animac: 2s,
    nombre-animac: aparecer,
    fuente: bold,
    padding15: 15px
);